{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./cloud/dashboard/tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:react-hooks/recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      { "allowExpressions": true }
    ],
    "@typescript-eslint/no-namespace": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "react/require-default-props": "off",
    "import/no-cycle": "off",
    "no-nested-ternary": "off"
  }
}
