[submodule "dependencies/cap"]
	path = dependencies/cap
	url = https://github.com/Psychedelic/cap
[submodule "dependencies/wicp"]
	path = dependencies/wicp
	url = git@github.com:Psychedelic/wicp.git
[submodule "dependencies/DIP20"]
	path = dependencies/DIP20
	url = git@github.com:Psychedelic/DIP20.git
[submodule "dependencies/dank"]
	path = dependencies/dank
	url = git@github.com:Psychedelic/dank.git
[submodule "dependencies/sonic"]
	path = dependencies/sonic
	url = git@github.com:Psychedelic/sonic.git
	branch = testnet
